.nav-bar {
    background: #0d3a33;
    border-bottom: 3px solid #131516;
    
}



body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Averia Serif Libre', serif;
  }
  
  .name {
    background: #0d3a33;
    font-family: 'Averia Serif Libre', serif;
  }
  
  .intro {
    color: rgb(112, 195, 195);
    font-weight: 700;
    font-size: 5vh;
  }

  
  .underline {
    font-style: italic;
    font-weight: 500;
  }

  .about {
    background-color:#131516;
    padding: 0px;
    align-items: center;
    text-align: center;
    padding-top: 4vh;
    color: rgb(112, 195, 195);
  }

  .personal {
    max-width: 60vw;
  }

  .personal > h1 {
    padding-bottom: 1.1vh;
  }
  img {
    -webkit-mask-image: linear-gradient(to bottom, black 40%, rgba(0,0,0,0)90%);
  }

  .skills {
    margin-top: 4vh;
    max-width: 60vw;
  }

  .skills > h1 {
    padding-bottom: 1.1vh;
  }

  .skills-list {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .skills-list > p {
    padding-bottom: 1vh;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #131516;
    color: rgb(112, 195, 195);
    padding-top: 1.1vh;
    padding-bottom: 1.1vh;
  }

  .container-footer {
    background-color: rgb(53, 128, 128);
    color: rgb(186, 180, 171);
  }

